{% extends 'base.html.twig' %}

{% block title %}New Helper{% endblock %}

{% block body %}
    <h1>Create new Helper</h1>

    {{ include('helper/_form.html.twig') }}

    <a href="{{ path('helper_index') }}">back to list</a>
{% endblock %}
