{% extends 'base.html.twig' %}

{% block body %}
    <a class="uk-margin-top" href="{{ app.request.headers.get('referer') }}" uk-icon="icon: arrow-left; ratio: 2.5"></a>
    <article class="uk-margin-top uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ helper.title }}</a></h1>

        <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012.</p>

        <p>{{ helper.description }}</p>

    </article>

    {#    {{ include('helper/_delete_form.html.twig') }}#}
{% endblock %}
