{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="uk-margin-top">{% trans %}posts.allPosts{% endtrans %}</h1>
    <div class="uk-grid-match uk-child-width-expand@m uk-grid-medium" uk-grid>
        {% for place in places %}
            <div>
                <div class="uk-card uk-card-default uk-width-1-1@l uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <span uk-icon="icon: user"></span>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ place.title }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    <time>April 01, 2016</time>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>{{ place.description|length < 200 ? place.description : place.description|slice(0, 200) ~ ' ...' }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="{{ path('place_show', {'id': place.id}) }}" class="uk-button uk-button-text">{% trans %}posts.readMore{% endtrans %}</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>{% trans %}posts.noPosts{% endtrans %}</p>
        {% endfor %}
    </div>
{% endblock %}
