{% extends 'base.html.twig' %}

{% block title %}Edit Seeker{% endblock %}

{% block body %}
    <h1>Edit Seeker</h1>

    {{ include('seeker/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('seeker_index') }}">back to list</a>

    {{ include('seeker/_delete_form.html.twig') }}
{% endblock %}
