{% extends 'base.html.twig' %}

{% block body %}
    <a class="uk-margin-top" href="{{ app.request.headers.get('referer') }}" uk-icon="icon: arrow-left; ratio: 2.5"></a>
    <h1>{% trans %}createPost.updatePost{% endtrans %}</h1>
    {{ include('seeker/_form.html.twig', {'button_label': 'createPost.updatePost'|trans}) }}
    {{ include('seeker/_delete_form.html.twig') }}
{% endblock %}
