{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}
    <h1>Edit user</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}

    {% if not user.confirmed %}
        <a href="{{ path('user_resend_confirmation') }}">Resend confirmation link</a>
    {% endif %}
{% endblock %}
